extends layout
include _includes/sharedHTMLfunctions
block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .error= message
      app-home-list Loading...
      //- each location in locations
      //-   .card
      //-     .card-block
      //-       h4
      //-         a(href=`/locations/${location.id}`)= location.name
      //-         small &nbsp;
      //-           +outputRating(location.rating) 
      //-         span.badge.badge-pill.badge-default.float-right= location.distance
      //-       p.address=location.address
      //-       p.facilities
      //-         each facility in location.facilities
      //-           span.badge.badge-warning= facility
    .col-xs-12.col-md-4
      p.lead=sidebar
block scripts
  script(src='/build/runtime.ec2944dd8b20ec099bf3.js')
  script(src='/build/polyfills.1ef83d22ada557f4a131.js')
  script(src='/build/main.922085dc22c3750cad39.js')
